@model IEnumerable<helloWebapp.Models.Movie>
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-bordered table-hover">
    <h1>MOVIE</h1>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(movie.Name,"Details","Movies",new { id=movie.ID},null)</td>
            <td>@movie.Name</td>
            <td>@movie.Genre.Name</td>

        </tr>
     }
</table>

