@model helloWebapp.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "CustomerHandle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Customer List</h3>
@if (Model.Customers.Count > 0)
{
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.Name</li>


    }
</ul>
}
else { 
<p>No Customer</p>
}