@model helloWebapp.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<li>
    <ul>
        @Model.Name
    </ul>
    <ul>
        @Model.BirthDate
    </ul>
    <ul>
        @Model.MembershipType.Name
    </ul>
</li>



